/* Nomalizing rules to include every single time */
* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;

}

iframe {
    width: 100%;
}

model-viewer {
    width: 100%;
    height: 30vw;
}

/* End Normalizing rules */

body {
    font-family: 'IBM Plex Mono', monospace;
}

header {
    padding: 20px 80px;
}

.wrapper {

    padding: 80px;
}

.grid-half {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;

}

.yellow {
    color: rgb(242, 242, 94);

}

.pink {
    color: pink;
}

.green {
    color: rgb(152, 243, 152);
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

.meta {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;

}

q {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;

}

.base-large {
    font-size: 19px;
}

.logo {
    text-decoration: none;
    color: black;
}

.logo-sm {
    width: 120px;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
}

.logo-lg {
    width: 700x;
    font-size: 86xp;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;

}

.primary-nav a {
    text-decoration: none;
    color: black;

}

.bttn {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    background-color: #9adbaf;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 23px;
    transition: background-color 0.3s ease;
}

.bttn:hover {
    background-color: transparent;
}